body,
nav {
  background-color: #212121;
}
.mycont {
  background: rgb(38, 35, 35);
  background: linear-gradient(
    17deg,
    rgba(38, 35, 35, 1) 30%,
    rgba(84, 80, 80, 1) 72%
  );
}
.mysecondrow img {
  width: 50%;
}
.mysecondcol {
  background-color: #2c2c2c;
  padding: 0;
}
nav span {
  position: absolute;
  left: 5px;
}
/* nav span i {
  position: absolute;
}
span {
  position: absolute;
} */
.bgarrow {
  background-color: #2c2c2c;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
}
nav div {
  margin-right: 10px;
}

/* .myimg {
  max-width: 300px;
} */
